<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BudgetInline</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            My Budget
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="/view-budget">Current Budget</a>
            </li>
            <li><a class="dropdown-item" href="#">Edit Budget</a></li>
            <li><a class="dropdown-item" href="/">Income</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Investments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Debt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add Finances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Submit Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewFeedback">Feedback</a>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        <a class="btn btn-outline-light me-2" routerLink="/login">Login</a>
        <a class="btn btn-danger" routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</nav>
