
<app-navbar>
</app-navbar>
<router-outlet></router-outlet>


<!-- Navbar (not using for now 
<nav class="nav navbar-dark bg-success justify-content-center">
    <a class="navbar-brand mt-2 mt-lg-0" routerLink="">
        <h3 class="pt-2">BudgetInline</h3>
    </a>
    <div class="hstack px-2">
        <div class="border vr"></div>
    </div>
    <a class="navbar-brand pt-3 nav-link" routerLink="/add">Add Finance</a>
    <div class="hstack px-2">
        <div class="border vr"></div>
    </div>
    <a class="navbar-brand pt-3 nav-link" routerLink="/feedback">Feedback</a>
    <!-- <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> 
</nav>
  Navbar 

<div class="contacts">
    <!-- <div class="mb-3 d-flex gap-2">
        <button class="btn btn-primary" routerLink="">Home</button> 
        <button class="btn btn-success" routerLink="/add">Add Finance</button> 
    </div> 

    <router-outlet></router-outlet>
</div> -->
