<div class="card mb-3 p-4">
  <h1 class="card-title mb-3 justify-center-content" style="text-align:center;">Submit Feedback</h1>
  <div>
    <!-- <p class="card-text text-muted">Feedback:</p> -->
    <textarea class="form-control" style="height:200px" placeholder="" [(ngModel)]="feedback.feedback" required></textarea>
    <div class="text-end">
      @if(feedback.feedback == '') {
        <button class="addButton btn btn-primary" disabled>Submit</button>
      }
      @if(feedback.feedback != '') {
        <button class="addButton btn btn-primary" (click)="addFeedback()" routerLink="">Submit</button> 
      }
      <button class="addButton btn btn-danger" routerLink="">Cancel</button> <!-- This might not be needed thinking about it -->
    </div>
  </div>
</div>